﻿<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-face"></i> About Me</h2>
        <ul class="actions" ng-if="!profile.editing_aboutMeForm">
            <li class="uib-dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>
                <ul class="uib-dropdown-menu uib-dropdown-menu-right">
                    <li>
                        <a ng-click="profile.editing_aboutMeForm = true" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" ng-if="!profile.editing_aboutMeForm">
            {{main.user.student.bio}}
        </div>
        <form ng-submit="profile.saveForm('aboutMeForm')" ng-if="profile.editing_aboutMeForm" name="profile.aboutMeForm">
            <div class="fg-line">
                <div text-angular ng-model="main.user.student.bio" class="pmbb-edit"></div>
            </div>
            <div class="m-t-10">
                <button class="btn btn-primary btn-sm" type="submit">Save</button>
                <button class="btn btn-link btn-sm" ng-click="profile.cancelFormEdit('aboutMeForm')">Cancel</button>
            </div>
        </form>


    </div>
</div>
<div ng-include="'wwwroot/app/core/userViews/tmpls/profile.main.tmpl.html'"></div>

<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-account m-r-5"></i> Student Information</h2>

        <ul class="actions" ng-if="!profile.editing_studentInfoForm">
            <li class="uib-dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="uib-dropdown-menu uib-dropdown-menu-right">
                    <li>
                        <a ng-click="profile.editing_studentInfoForm = true" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" ng-if="!profile.editing_studentInfoForm">
            <dl class="dl-horizontal">
                <dt>Contact Number</dt>
                <dd input>{{main.user.student.contactNumber}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Home Station</dt>
                <dd>{{main.user.student.homeStation}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Unit Commander</dt>
                <dd>{{main.user.student.unitCommander}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Unit Commander Email</dt>
                <dd>{{main.user.student.unitCommanderEmail}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Unit First Sergeant</dt>
                <dd>{{main.user.student.unitFirstSergeant}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Unit First Sergeant Email</dt>
                <dd>{{main.user.student.unitFirstSergeantEmail}}</dd>
            </dl>
        </div>

        <form data-ng-submit="profile.saveForm()" name="profile.studentInfoForm" class="pmbb-edit form-horizontal" ng-if="profile.editing_studentInfoForm"  role="form">
                <div class="form-group p-t-10">
                    <label for="contactnumber" class="control-label col-md-2 ">Contact Number</label>
                    <div class="col-md-10" ng-class="{'has-error': profile.studentInfoForm.contactnumber.$touched && profile.studentInfoForm.contactnumber.$invalid}">
                        <div class="fg-line">
                            <input type="text"
                                   name="contactnumber"
                                   input-mask="{mask: '(000) 000-0000'}"
                                   ng-model="main.user.student.contactNumber"
                                   class="form-control input-lg fg-input"
                                   maxlength="40"
                                   required />
                        </div>
                        <small class="help-block" ng-show="profile.studentInfoForm.contactnumber.$touched && profile.studentInforForm.contactnumber.$error.required">This is a required field.</small>
                    </div>
                </div>

                <div class="form-group p-t-10">
                    <label for="homestation" class="control-label col-md-2 ">Home Station</label>
                    <div class="col-md-10" ng-class="{'has-error': profile.studentInfoForm.homestation.$touched && profile.studentInfoForm.homestaion.$invalid}">
                        <div class="fg-line">
                            <input type="text"
                                   name="homestation"
                                   ng-model="main.user.student.homeStation"
                                   class="form-control input-lg fg-input"
                                   maxlength="40"
                                   required />
                        </div>
                        <small class="help-block" ng-show="profile.studentInfoForm.homestation.$touched && profile.studentInfoForm.homestation.$error.required">This is a required field.</small>
                    </div>
                </div>

                <div class="form-group p-t-10">
                    <label for="unitcc" class="control-label col-md-2 ">Unit Commander (Rank/Name)</label>
                    <div class="col-md-10" ng-class="{'has-error': profile.studentInfoForm.unitcc.$touched && profile.studentInfoForm.unitcc.$invalid}">
                        <div class="fg-line">
                            <input type="text"
                                   name="unitcc"
                                   ng-model="main.user.student.unitCommander"
                                   class="form-control input-lg fg-input"
                                   maxlength="40"
                                   required />
                        </div>
                        <small class="help-block" ng-show="profile.studentInfoForm.unitcc.$touched && profile.studentInfoForm.unitcc.$error.required">This is a required field.</small>
                    </div>
                </div>

                <div class="form-group p-t-10">
                    <label for="unitccemail" class="control-label col-md-2 ">Unit Commander Email</label>
                    <div class="col-md-10" ng-class="{'has-error': profile.studentInfoForm.unitccemail.$touched && profile.studentInfoForm.unitccemail.$invalid}">
                        <div class="fg-line">
                            <input type="email"
                                   name="unitccemail"
                                   ng-model="main.user.student.unitCommanderEmail"
                                   class="form-control input-lg fg-input"
                                   maxlength="40"
                                   required />
                        </div>
                        <small class="help-block" ng-show="profile.studentInfoForm.unitccemail.$touched && profile.studentInfoForm.unitccemail.$error.required">This is a required field.</small>
                    </div>
                </div>

                <div class="form-group p-t-10">
                    <label for="unitfirstshirt" class="control-label col-md-2 ">Unit First Sergeant (Rank/Name)</label>
                    <div class="col-md-10" ng-class="{'has-error': profile.studentInfoForm.unitfirstshirt.$touched && profile.studentInfoForm.unitfirstshirt.$invalid}">
                        <div class="fg-line">
                            <input type="text"
                                   name="unitfirstshirt"
                                   ng-model="main.user.student.unitFirstSergeant"
                                   class="form-control input-lg fg-input"
                                   maxlength="40"
                                   required />
                        </div>
                        <small class="help-block" ng-show="profile.studentInfoForm.unitfirstshirt.$touched && profile.studentInfoForm.unitfirstshirt.$error.required">This is a required field.</small>
                    </div>
                </div>

                <div class="form-group p-t-10">
                    <label for="unitfirstshirtemail" class="control-label col-md-2 ">Unit First Sergeant Email</label>
                    <div class="col-md-10" ng-class="{'has-error': profile.studentInfoForm.unitfirstshirtemail.$touched && profile.studentInfoForm.unitfirstshirtemail.$invalid}">
                        <div class="fg-line">
                            <input type="email"
                                   name="unitfirstshirtemail"
                                   ng-model="main.user.student.unitFirstSergeantEmail"
                                   class="form-control input-lg fg-input"
                                   maxlength="40"
                                   required />
                        </div>
                        <small class="help-block" ng-show="profile.studentInfoForm.unitfirstshirtemail.$touched && profile.studentInfoForm.unitfirstshirtemail.$error.required">This is a required field.</small>
                    </div>
                </div>

                <div class="m-t-30">
                    <button class="btn btn-primary btn-sm" type="submit" ng-disabled="profile.inflight">Save</button>
                    <button class="btn btn-link btn-sm" data-ng-click="profile.cancelFormEdit('studentInfoForm')" ng-disabled="profile.inflight">Cancel</button>
                </div>       

        
        </form>
    </div>
</div>
