﻿<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-account m-r-5"></i> Basic Information</h2>

        <ul class="actions" ng-if="!profile.editing_basicInfoForm">
            <li class="uib-dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="uib-dropdown-menu uib-dropdown-menu-right">
                    <li>
                        <a ng-click="profile.editing_basicInfoForm = true" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" ng-if="!profile.editing_basicInfoForm">
            <dl class="dl-horizontal">
                <dt>Full Name</dt>
                <dd>{{main.user.saluatation}} {{ main.user.lastName}}, {{main.user.firstName}} <span ng-if="main.user.goByName">[AKA: {{main.user.goByName}}]</span></dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Gender</dt>
                <dd>{{main.user.mpGender}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Affiliation</dt>
                <dd>{{main.user.mpMilAffiliation}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Military Component</dt>
                <dd>{{main.user.mpMilComponent}}</dd>
            </dl>
        </div>

        <form data-ng-submit="profile.saveBasicInformation" name="profile.basicInfoForm" class="pmbb-edit form-horizontal" ng-if="profile.editing_basicInfoForm" role="form">

            <div class="form-group p-t-10">
                <label for="lastName" class="control-label col-md-2">Last Name</label>
                <div class="col-md-10" ng-class="{'has-success': profile.isLtiRole, 'has-error': profile.basicInfoForm.lastname.$touched && profile.basicInfoForm.lastname.$invalid}">
                    <div class="fg-line">
                        <input type="text"
                               name="lastname"
                               ng-model="main.user.lastName"
                               class="form-control input-lg fg-input"
                               maxlength="40"
                               ng-disabled="profile.isLtiRole"
                               required />
                    </div>
                    <small class="help-block"
                           ng-if="profile.isLtiRole">Centrally controlled field</small>
                    <small class="help-block" ng-show="profile.basicInfoForm.lastname.$touched && profile.basicInfoForm.lastname.$error.required">This is a required field.</small>
                </div>
            </div>

            <div class="form-group p-t-10">
                <label for="firstName" class="control-label col-md-2 ">First Name</label>
                <div class="col-md-10" ng-class="{'has-success': profile.isLtiRole, 'has-error': profile.basicInfoForm.firstname.$touched && profile.basicInfoForm.firstname.$invalid}">
                    <div class="fg-line">
                        <input type="text"
                               name="firstname"
                               ng-model="main.user.firstName"
                               class="form-control input-lg fg-input"
                               maxlength="40"
                               ng-disabled="profile.isLtiRole"
                               required/>
                    </div>
                    <small class="help-block"
                           ng-if="profile.isLtiRole">Centrally controlled field</small>
                    <small class="help-block" ng-show="profile.basicInfoForm.firstname.$touched && profile.basicInfoForm.firstname.$error.required">This is a required field.</small>
                </div>
            </div>

            <div class="form-group p-t-10">
                <label for="email" class="control-label col-md-2 ">Email Address</label>
                <div class="col-md-10" ng-class="{'has-success': profile.isLtiRole, 'has-error': profile.basicInfoForm.email.$touched && profile.basicInfoForm.email.$invalid}">
                    <div class="fg-line">
                        <input type="email"
                               name="email"
                               ng-model="main.user.email"
                               class="form-control input-lg fg-input"
                               maxlength="40"
                               ng-disabled="profile.isLtiRole"
                               required />
                    </div>
                    <small class="help-block"
                           ng-if="profile.isLtiRole">Centrally controlled field</small>
                    <small class="help-block" ng-show="profile.basicInfoForm.lastName.$touched && profile.basicInfoForm.lastName.$error.required">This is a required field.</small>
                </div>
            </div>

            <div class="form-group p-t-10">
                <label for="gobyname" class="control-label col-md-2 ">Go-By Name</label>
                <div class="col-md-10">
                    <div class="fg-line">
                        <input type="text"
                               name="gobyname"
                               ng-model="main.user.goByName"
                               class="form-control input-lg fg-input"
                               maxlength="40" />
                    </div>
                </div>
            </div>

            <div class="form-group p-t-10">
                <label for="gender" class="control-label col-md-2 ">Gender</label>
                <div class="col-md-10" ng-class="{'has-error': profile.basicInfoForm.gender.$touched && profile.basicInfoForm.gender.$invalid}">
                    <div class="fg-line">
                        <select ng-model="main.user.mpGender"
                                name="gender"
                                required
                                class="form-control input-lg fg-input">
                            <option value="">[Select Your Gender]</option>
                            <option value="{{profile.gender.Female}}">Female</option>
                            <option value="{{profile.gender.Male}}">Male</option>
                            <option value="{{profile.gender.Other}}">Other</option>
                        </select>
                    </div>
                    <small class="help-block" ng-show="profile.basicInfoForm.gender.$touched && profile.basicInfoForm.gender.$error.required">This is a required field.</small>
                </div>
            </div>

            <div class="form-group p-t-10">
                <label for="milaffil" class="control-label col-md-2 ">Military Affiliation</label>
                <div class="col-md-10" ng-class="{'has-error': profile.basicInfoForm.milaffil.$touched && profile.basicInfoForm.milaffil.$invalid}">
                    <div class="fg-line">
                        <select ng-model="main.user.mpMilAffiliation"
                                name="milaffil"
                                ng-change="profile.updatePayGradeList()"
                                required
                                class="form-control input-lg fg-input"
                                ng-options="value for (affil, value) in profile.local.milAffil">
                            <option value="">[Select Your Military Affiliation]</option>
                        </select>
                    </div>
                    <small class="help-block" ng-show="profile.basicInfoForm.milaffil.$touched && profile.basicInfoForm.milaffil.$error.required">This is a required field.</small>
                </div>
            </div>

            <div class="form-group p-t-10">
                <label for="milcomponent" class="control-label col-md-2">Military Component</label>
                <div class="col-md-10" ng-class="{'has-error': profile.basicInfoForm.milcomponent.$touched && profile.basicInfoForm.milcomponent.$invalid}">
                    <div class="fg-line">
                        <select ng-model="main.user.mpMilComponent"
                                name="milcomponent"
                                ng-disabled="main.user.mpMilAffiliation === profile.local.milAffil.none"
                                required
                                class="form-control input-lg fg-input"
                                ng-options="value for (component, value) in profile.local.milComponent">
                            <option value="">[Select Your Military Component]</option>
                        </select>
                    </div>
                    <small class="help-block" ng-show="profile.basicInfoForm.milcomponent.$touched && profile.basicInfoForm.milcomponent.$error.required">This is a required field.</small>
                </div>
            </div>

            <div class="form-group p-t-10">
                <label for="paygrade" class="control-label col-md-2">PayGrade</label>
                <div class="col-md-10" ng-class="{'has-error': profile.basicInfoForm.paygrade.$touched && profile.basicInfoForm.paygrade.$invalid}">
                    <div class="fg-line">
                        <select ng-model="main.user.mpMilPaygrade"
                                name="paygrade"
                                required
                                class="form-control input-lg fg-input"
                                ng-options="pay.pg as pay.displayName for pay in profile.payGradeList">
                            <option value="">[Select Your Paygrade]</option>
                        </select>
                    </div>
                    <small class="help-block" ng-show="profile.basicInfoForm.paygrade.$touched && profile.basicInfoForm.paygrade.$error.required">This is a required field.</small>
                </div>
            </div>

            <div class="m-t-30">
                <button class="btn btn-primary btn-sm" type="submit" ng-disabled="profile.inflight">Save</button>
                <button class="btn btn-link btn-sm" data-ng-click="profile.cancelFormEdit('basicInfoForm')" ng-disabled="profile.inflight">Cancel</button>
            </div>
        </form>
    </div>
</div>
